extends layout

block content
  h1= "Message Board"
  if messages.length
    p Only members can see the author and timestamp! 
      a(href="/join-members") Join the club.
    ul 
      for message in messages
        li
          h3= message.title 
          p= message.text
          if (membership)
            span Created on #{message.timestamp} 
            span By #{message.author.fullName}

  else 
    p There are no messages. 
      a(href="/message/create") Create one! 